<h1>SavedVideos#index</h1>
<p>Find me in app/views/saved_videos/index.html.erb</p>

 <div class="actions">
    <%= link_to "フォルダ一覧", folders_index_path, class: "btn btn-tertiary" %>
    <%= link_to "マイページ", mypage_path, class: "btn btn-secondary" %>
  </div>
