body {
  background: #fff3dc;
  font-family: 'RocknRoll One', 'M PLUS Rounded 1c', 'Noto Sans JP', sans-serif;

  color: #5a4332;
  margin: 0;
}

// body {
//   background: #fff8e7;
//   font-family: 'Noto Sans JP', sans-serif;
//   color: #333;
//   overflow: auto;
// }