/* ===== 共通 ===== */
@import "based/body";

/* ===== 共通 ===== */
@import "shared/background";
@import "shared/flash";
@import "shared/auth";
@import "shared/video_card";

/* ===== ページ別 ===== */
@import "pages/homepage";
@import "pages/mypages";
@import "pages/searches";
@import "pages/folders";
@import "pages/saved_videos";
